[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GENESIS"]
	path = GENESIS
	url = https://github.com/uw-gac/genesis
	shallow = true
	registered = true
